@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --azul: rgba(33, 33, 243, 0.89);
    --preto: rgb(0, 0, 0);
    --branco-text: rgb(255, 255, 255);

    --fonte-titolo: "Alfa Slab One", serif;
    --fonte-poema: "Courgette", cursive;
    --fonte-padrao: "Inter", sans-serif;
}

* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-padrao);
}


a { /*Todos os links*/
    text-decoration: none;
}

header {
    text-align: center;
    background-color: var(--preto);
}

header > h1 {
    font-size: clamp(1em, 5vw, 4em);
    font-family: var(--fonte-titolo);
    font-weight: 300;
    color: var(--branco-text);
    padding-top: 20px;
}

header > p{
    font-size:  clamp(1em, 3vw, 1.5em); /*Valor mínimo, aqui tem que ir configurando uma largura boa pra n passar de 1.5 com tela cheia*/
    color: var(--branco-text);
    padding-bottom: 20px;
    /* 
        Regra de ouro para clamp() com vw:
        Se o texto vive travado no mínimo → o vw está muito pequeno
        Se o texto vive travado no máximo → o vw está muito grande
    */

}

main {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

article > section  {
    font-size: clamp(1em, 3vw, 3em);
    font-family: var(--fonte-poema);
    
    min-width: 100px;
    max-width: 700px;
    padding: 3vw 1vw;
}

article > p {
    width: 97%;
}

/*Background com imagem*/
#image-poema1 {
   background-image: url(imagens/background001.jpg);
}

#image-poema2 {
    background-image: url(imagens/background002.jpg);
}

#image-poema1, #image-poema2 {
    display: flex;
    align-items: center;

    font-size: clamp(1em, 3vw, 3em);
    font-family: var(--fonte-poema);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 32vw ; /* Usando max-height Se o conteúdo não for grande o suficiente ele não cresce mais*/
    width: 100%;
}

article > div > p {
    color: var(--branco-text);
    background-color: rgba(0, 0, 0, 0.212);

    padding: 4vw 1vw;
    min-width: 50px;
    max-width: 700px;
}

/*Footer*/

footer > p {
    text-align: center;
    background-color: var(--preto);
    padding: 5px;
    font-size:  clamp(1em, 3vw,1.5em);
    color: var(--branco-text);
}

/*Código	Significado
box-sizing: border-box;	Inclui padding e border dentro do width e height. Mais controle.

html, body { height: 100% }	Faz o corpo da página ocupar toda a altura da tela.

display: flex;	Torna os elementos filhos flexíveis (layout com distribuição automática).

main { flex: 1 }	Faz o main crescer e ocupar o espaço entre o header e footer.
*/